<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RHSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RHSystem.Properties.Settings>
            <setting name="AppMode" serializeAs="String">
                <value />
            </setting>
            <setting name="KioskStoreId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KioskStoreName" serializeAs="String">
                <value />
            </setting>
            <setting name="KioskStoreCode" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleDriveFolderId" serializeAs="String">
                <value />
            </setting>
        </RHSystem.Properties.Settings>
    </userSettings>
</configuration>